{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradeNest</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    
    <!-- google font (Outfit) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    
    <script src="{% static 'accounts/js/login.js' %}" defer></script>
</head>
<body>
    <!-- header -->
<header class="site-header">
    <div class="logo">
        <img src="{% static 'accounts/img/gradenest-logo.png' %}" alt="GradeNest Logo" class="logo-img">
        <span>GradeNest</span>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>


    <!-- login form -->
    <div class="container">
        <form id="loginForm" class="form">
            <h2>Student Login</h2>
            
            <label for="email">Email <span class="required">*</span></label>
            <div class="input-wrapper">
                <img src="{% static 'accounts/img/user-icon.png' %}" alt="User Icon" class="input-icon">
                <input type="text" id="email" placeholder="">
            </div>
            <small class="error" id="emailError"></small>

            <label for="password">Password <span class="required">*</span></label>
            <div class="input-wrapper">
                <img src="{% static 'accounts/img/lock-icon.png' %}" alt="Lock Icon" class="input-icon">
                <input type="password" id="password" placeholder="">
            </div>
            <small class="error" id="passwordError"></small>

            <a href="#" class="forgot">Forgot password?</a>
            
            <button type="submit">Log in</button>
            
            <div class="divider">or</div>
            
            <div class="google-signin">
                <a href="#">Sign in with Google</a>
            </div>
            
            <p class="signup">
                Are you new? <a href="/register">Create an Account</a>
            </p>
        </form>
    </div>
</body>
</html>